<div class="container2">
  <div class="div-subtitle">
    <p>Nuestra agencia de viajes ofrece una experiencia completa de turismo aventura a destinos como San Carlos de
      Bariloche, Pucón y sur de Chile. Además de ofrecer emocionantes actividades al aire libre, también brindamos
      servicios de alojamiento en hoteles y cabañas, así como todas las comidas necesarias durante la estadía. Nos
      aseguramos de que nuestros clientes tengan una experiencia cómoda y segura durante todo el viaje, por lo que
      contamos con transporte en los mejores buses que cumplen con los estándares de seguridad y comodidad. En resumen,
      ofrecemos una experiencia integral y emocionante de turismo aventura que incluye alojamiento, comidas y transporte
      de calidad para nuestros clientes.</p>
  </div>
  <div class="div-services-bariloche">
    <ion-grid>
      <ion-row>
        <ion-col size="6" sizeXs="12" sizeLg="6" style="text-align: justify; margin: 50px;">
          <p><b>SAN CARLOS DE BARILOCHE, ARGENTINA</b></p>
          <p>San Carlos de Bariloche es un destino turístico muy popular en Argentina, especialmente conocido por su
            turismo
            aventura. La región ofrece una amplia variedad de actividades emocionantes al aire libre, como rafting,
            kayaking, parapente, senderismo, esquí, snowboard, y mucho más. Además, hay una gran cantidad de lagos,
            montañas
            y paisajes naturales impresionantes para explorar.</p>

          <p>Los turistas aventureros también pueden disfrutar de la gastronomía local, la cultura y la historia de la
            región, que es conocida por su influencia europea y sus hermosas arquitecturas alpinas.</p>

          <p>resumen, San Carlos de Bariloche es un destino ideal para aquellos que buscan una experiencia turística
            emocionante y llena de aventuras.</p>
          <ion-button [routerLink]="['/contact']" routerLinkActive="active">COTIZA</ion-button>
        </ion-col>
        <ion-col size="6" sizeXs="12" sizeLg="6">
          <ion-img src="assets/content/services/foto_web_1.jpg" alt="San Carlos de Bariloche"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-services-bariloche">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="assets/content/services/foto_web_2.jpg" alt="Pucón y Sur de Chile"></ion-img>
        </ion-col>
        <ion-col style="text-align: justify; margin: 50px;">
          <p><b>PUCÓN, CHILE</b></p>
          <p>Pucón es una ciudad ubicada en el sur de Chile, conocida por su impresionante belleza natural y sus
            emocionantes actividades de turismo aventura.</p>
          <p>Los turistas pueden disfrutar de una amplia gama de actividades al aire libre, como rafting, kayak,
            trekking, escalada, canopy, esquí, snowboard, entre otras. Además, Pucón es el hogar del famoso volcán
            Villarrica.</p>
          <p>La ciudad también ofrece hermosos paisajes naturales, como lagos, ríos, bosques y montañas, lo que la
            convierte en un destino ideal para los amantes de la naturaleza. Los turistas también pueden disfrutar de la
            gastronomía local, la cultura y la historia de la región, que es rica en tradiciones y costumbres indígenas.
            En resumen, Pucón es un destino emocionante y diverso que ofrece una experiencia de turismo aventura única
            en medio de un entorno natural espectacular.</p>
          <ion-button [routerLink]="['/contact']" routerLinkActive="active">COTIZA</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="div-services-bariloche">
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: justify; margin: 50px;">
          <p><b>FOZ DE IGUAZÚ Y CAMBORIÚ, BRASIL</b></p>
          <p>Foz de Iguazú y Camboriú son destinos turísticos populares en Brasil, donde los visitantes pueden disfrutar
            de una amplia variedad de actividades de turismo aventura.</p>
          <p>En Foz de Iguazú, los turistas pueden visitar las impresionantes Cataratas del Iguazú, una de las
            maravillas naturales del mundo, donde pueden disfrutar de paseos en bote y caminatas por la selva tropical.
            También hay opciones de turismo de aventura, como el rafting y el rappel en la región.</p>
          <p>Por otro lado, en Camboriú, los turistas pueden disfrutar de actividades como el parapente, el buceo, el
            surf y el ciclismo de montaña. Además, la región cuenta con hermosas playas y montañas, donde los visitantes
            pueden disfrutar de la naturaleza y el paisaje. También pueden explorar la vida nocturna de la ciudad y la
            deliciosa gastronomía local.</p>
          <p>En resumen, Foz de Iguazú y Camboriú son destinos emocionantes para los amantes de la aventura y ofrecen
            una gran variedad de actividades en un entorno natural espectacular.</p>
          <ion-button [routerLink]="['/contact']" routerLinkActive="active">COTIZA</ion-button>
        </ion-col>
        <ion-col>
          <ion-img src="assets/content/services/foto_web_3.jpg" alt="Foz de Iguazú y Camboriú"></ion-img>
          <br>
          <ion-img src="assets/content/services/foto_web_4.jpg" alt="Foz de Iguazú y Camboriú"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
