<div class="container2">
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="12" size="4" sizeLg="4">
        <ion-card>
          <img alt="Fiestas" src="assets/content/foto-web-fiesta.jpg" />
          <ion-card-header>
            <ion-card-title>FIESTAS</ion-card-title>
            <ion-card-subtitle>Las mejores fiestas</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            La aventura de vivir una fiesta en San Carlos de Bariloche para estudiantes es una experiencia única e
            inolvidable que combina la emoción de la vida nocturna con la belleza natural de la región.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" size="4" sizeLg="4">
        <ion-card>
          <img alt="Paisajes" src="assets/content/foto-web-paisajes.jpg" />
          <ion-card-header>
            <ion-card-title>PAISAJES</ion-card-title>
            <ion-card-subtitle>Los mejores paisajes</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Bariloche como el sur de Chile ofrecen paisajes impresionantes y únicos que son un deleite para los ojos y
            los sentidos.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col sizeXs="12" size="4" sizeLg="4">
        <ion-card>
          <img alt="Aventuras" src="assets/content/foto-web-aventuras.jpg" />
          <ion-card-header>
            <ion-card-title>AVENTURAS</ion-card-title>
            <ion-card-subtitle>Las mejores aventuras</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            San Carlos de Bariloche y Pucón, son conocidos como el destino de turismo aventura por excelencia, ya que
            ofrece una amplia variedad de actividades emocionantes al aire libre para los amantes de la adrenalina y
            diversión.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
