.container2 {
  background-image: url('../../../../assets/backgrounds/fondo-web-2.jpg');
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  /* min-height: 100%; */
}

ion-card {
  --background: #fff;
  --color: #000;
}

ion-card-title {
  --color: #000;
}

ion-card-subtitle {
  --color: #000;
}
