ion-content {
  --background: url('assets/backgrounds/fondo-web.jpg') no-repeat center center / cover;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 10rem;
  max-height: 100%;
  text-align: center;
}

.ionCard {
  max-width: 55rem;
  margin: 0 auto;
  background-color: transparent;
  box-shadow: none;
}

ion-img {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
}

ion-button {
  --background: #D7FF00;
  --color: black;
  width: 15rem;
}
