<ion-card>
  <ion-card-header style="text-align: center;">
    <ion-card-title>
      <a href="https://www.facebook.com/giras.indomito" target="_blank">
        <ion-icon style="color: #4D8DFF;" name="logo-facebook"></ion-icon>
      </a>
      &nbsp;
      <a href="https://www.instagram.com/giras_indomito/" target="_blank">
        <ion-icon style="color: #E1306C;" name="logo-instagram"></ion-icon>
      </a>
      &nbsp;
      <a href="https://wa.link/yhfi8d" target="_blank">
        <ion-icon style="color: #28A319;" name="logo-whatsapp"></ion-icon>
      </a>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content style="text-align: center;">
    ©2024 Giras Indómito. All right reserved.
  </ion-card-content>
</ion-card>
