<!-- <ion-card translucent="true">
  <ion-card-header style="text-align: center;">
    <ion-card-title>
      <a href="https://www.facebook.com/giras.indomito" target="_blank">
        <ion-icon style="color: #4D8DFF;" name="logo-facebook"></ion-icon>
      </a>
      &nbsp;
      <a href="https://www.instagram.com/giras_indomito/" target="_blank">
        <ion-icon style="color: #E1306C;" name="logo-instagram"></ion-icon>
      </a>
      &nbsp;
      <a href="https://wa.link/yhfi8d" target="_blank">
        <ion-icon style="color: #28A319;" name="logo-whatsapp"></ion-icon>
      </a>
      &nbsp;
      <a href="https://x.com/girasindomito" target="_blank">
        <ion-icon style="color: #1D9BF0;" name="logo-twitter"></ion-icon>
      </a>
      &nbsp;
      <a href="https://www.tiktok.com/@giras.indomito" target="_blank">
        <ion-icon style="color: #D7FF00;" name="logo-tiktok"></ion-icon>
      </a>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content style="text-align: center; font-size: x-small; margin: 0px;">
    ©2024 Giras Indómito. All right reserved.
  </ion-card-content>
</ion-card> -->

<ion-footer translucent="true">
  <ion-toolbar>
      <a href="https://www.facebook.com/giras.indomito" target="_blank">
        <ion-icon style="color: #4D8DFF;" name="logo-facebook"></ion-icon>
      </a>
      &nbsp;
      <a href="https://www.instagram.com/giras_indomito/" target="_blank">
        <ion-icon style="color: #E1306C;" name="logo-instagram"></ion-icon>
      </a>
      &nbsp;
      <a href="https://wa.link/yhfi8d" target="_blank">
        <ion-icon style="color: #28A319;" name="logo-whatsapp"></ion-icon>
      </a>
      &nbsp;
      <a href="https://x.com/girasindomito" target="_blank">
        <ion-icon style="color: #1D9BF0;" name="logo-twitter"></ion-icon>
      </a>
      &nbsp;
      <a href="https://www.tiktok.com/@giras.indomito" target="_blank">
        <ion-icon style="color: #D7FF00;" name="logo-tiktok"></ion-icon>
      </a>
      <br>
      <ion-title style="font-size: x-small;">©2024 Giras Indómito. All right reserved.</ion-title>
  </ion-toolbar>
</ion-footer>
