@media (min-width: 768px) {
  .toolbar-buttons {
    display: flex !important;
  }
  ion-menu-button {
    display: none;
  }
}
@media (max-width: 767px) {
  .toolbar-buttons {
    display: none;
  }
}

.toolbar {
  /* --background: transparent; */
  opacity: 0.9;
  --padding-start: 16px;
  --padding-end: 8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-top: 2rem; */
  text-align: center;
  /* box-shadow: none; */
}

ion-button {
  font-size: 1.1rem;
  font-weight: bold;
}

ion-header {
  /* --background: transparent;
  box-shadow: none; */
  opacity: 0.9;
}

ion-menu::part(backdrop) {
  background-color: #D7FF00;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px black;
}
