.container {
  background-image: url('../../../../assets/backgrounds/fondo-web-2.jpg');
  background-size: cover;
  padding-top: 5rem;
  max-height: 100%;
  text-align: center;
}

ion-card {
  --background: #fff;
  --color: #000;
}

ion-card-title {
  --color: #000;
}

ion-card-subtitle {
  --color: #000;
}
