.container5 {
  padding: 5rem;
  background-color: #fff;
  margin-bottom: 4rem;
}

.container5 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  color: #000;
}

ion-card {
background-color: #fff;

}

ion-card-title {
  color: #000;
}

ion-card-subtitle {
  color: #000;
}

ion-card-content {
  color: #000;
}
