<div class="container12">
  <div class="div-about-content">
    <ion-grid>
      <ion-row>
        <ion-col size="1" sizeXs="0" sizeLg="2"></ion-col>
        <ion-col size="5" sizeXs="12" sizeLg="4">
          <p style="font-size: xx-large;"><b>DESCARGA NUESTROS PROGRAMAS</b></p>
          <ion-list lines="none" style="background-color: transparent">
            <ion-item color="white">
              <ion-icon name="cloud-download-outline" style="color: black;"></ion-icon>
              <span>&nbsp;</span>
              <a href="#">
                <ion-label style="color: black;">Programa Bariloche ligth temp. 2024-2025</ion-label>
              </a>
            </ion-item>
            <ion-item color="white">
              <ion-icon name="cloud-download-outline" style="color: black;"></ion-icon>
              <span>&nbsp;</span>
              <a href="#">
                <ion-label style="color: black;">Programa Bariloche Eco temp. 2024-2025</ion-label>
              </a>
            </ion-item>
            <ion-item color="white">
              <ion-icon name="cloud-download-outline" style="color: black;"></ion-icon>
              <span>&nbsp;</span>
              <a href="#">
                <ion-label style="color: black;">Programa Bariloche Full temp. 2024-2025</ion-label>
              </a>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="5" sizeXs="12" sizeLg="4">
          <ion-img src="assets/content/about/fondo_web_1.png" alt="Misión y Visión"></ion-img>
        </ion-col>
        <ion-col size="1" sizeXs="0" sizeLg="2"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
