<div class="container3">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <h1>NOSOTROS</h1>
        <p><b>¡Hola y bienvenidos a nuestra página web!</b></p>
        <p>Somos un equipo dedicado a brindar experiencias de giras de estudios de calidad para estudiantes de todas las
          edades. Nos apasiona proporcionar a los estudiantes oportunidades únicas para aprender y explorar el mundo más
          allá del aula. Nos esforzamos por ofrecer una amplia variedad de opciones de viaje para satisfacer los
          intereses y necesidades de cada grupo. Además, nuestra atención al detalle y nuestro compromiso con la
          seguridad y el bienestar de nuestros clientes es lo que nos distingue de otras agencias de viajes. Esperamos
          poder ayudarle a planificar su próxima gira de estudios y esperamos trabajar con usted para crear una
          experiencia única y emocionante que perdure en la memoria de sus estudiantes durante muchos años.</p>
      </ion-col>
      <ion-col size="0" size-lg="6">
        <img src="../../../../assets/logo/logo-web.png" alt="Logo">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
