<div class="container8">
  <div>
    <h1>ESCRÍBENOS</h1>
    <p>Puedes encontrarnos en nuestras redes sociales, escribirnos a nuestro correo electrónico, llamarnos
      telefónicamente o simplemente completa y envía el formulario siguiente:</p>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">

        <form [formGroup]="contactForm">

          <ion-item>
            <ion-input label="Nombre" labelPlacement="floating" type="text" autocomplete="name" required
              formControlName="name" placeholder="Ej: Nicolás..." class="custom-label"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Correo" labelPlacement="floating" type="email" autocomplete="email" required
              formControlName="email" placeholder="Ej: envio@giras.cl..."></ion-input>
          </ion-item>

          <ion-item>
            <ion-input label="Teléfono" labelPlacement="floating" type="tel" autocomplete="tel" required
              formControlName="phone" placeholder="Ej: 93813657..."></ion-input>
          </ion-item>

          <ion-item>
            <ion-textarea label="Mensaje" labelPlacement="floating" required formControlName="message"
              placeholder="Ej: mensaje..."></ion-textarea>
          </ion-item>

          <ion-button expand="full" type="submit">Enviar</ion-button>

        </form>

      </ion-col>



      <ion-col size="12" sizeSm="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <div>
          <ion-label>
            <h2>SÍGUENOS EN NUESTRAS REDES SOCIALES</h2>
          </ion-label>
          <br>


          <ion-label>
            <h1>Correo</h1>
            <p>info&#64;girasindomito.cl</p>
          </ion-label>

          <br><br>

          <ion-label>
            <h1>Teléfono</h1>
            <p>12374619832746</p>
          </ion-label>

          <br><br>

          <a href="https://www.facebook.com/giras.indomito" target="_blank">
            <ion-icon style="color: #4D8DFF; font-size: 46px;" name="logo-facebook"></ion-icon>
          </a>
          &nbsp;
          <a href="https://www.instagram.com/giras_indomito/" target="_blank">
            <ion-icon style="color: #E1306C; font-size: 46px;" name="logo-instagram"></ion-icon>
          </a>
          &nbsp;
          <a href="https://wa.link/yhfi8d" target="_blank">
            <ion-icon style="color: #28A319; font-size: 46px;" name="logo-whatsapp"></ion-icon>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
