.container8 {
  /* background-color: #fff; */
  background-image: url('../../../../assets/backgrounds/fondo-web-2.jpg');
  background-size: 100%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 100%;
  text-align: center;
}

 p {
  font-size: 1rem;
  color: #000000;
}

h1 {
  font-size: 2rem;
  color: #000000;
}

h3 {
  font-size: 1.5rem;
  color: #000000;
}

/*
.div-contact-content {
  width: 60%;
  margin: auto;
  margin-bottom: 6rem;
} */

ion-button {
  --background: #D7FF00;
  --color: black;
  /* width: 15rem; */
}

ion-input {
  color: black;
}

ion-textarea {
  color: black;
}

ion-label {
  color: black;
}

ion-item {
  --background: #fff;
  --color: #000;

  /* --border-color: #000;
  --border-style: solid; */
  /* --border-width: 2px; */

  /* --border-radius: 20px; */

  /* --ripple-color: purple; */

  /* --detail-icon-color: white;
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 220px; */
}
