<div class="container7">
  <div class="div-about-content">
    <ion-grid>
      <ion-row>
        <ion-col size="1" sizeXs="0" sizeLg="2"></ion-col>
        <ion-col size="5" sizeXs="12" sizeLg="4" style="text-align: justify; padding: 50px;">
          <p style="font-size: xx-large;"><b>NUESTRA MISIÓN</b></p>
          <p>Nuestra misión es proporcionar a los estudiantes experiencias únicas y emocionantes a través de giras de
            estudios de turismo de aventura bien planificadas y seguras. Nos dedicamos a brindar oportunidades para que
            los estudiantes se aventuren fuera de su zona de confort y experimenten el mundo de una manera única.</p>
          <p>Nuestro objetivo es inspirar a través de la exploración, la conexión con la naturaleza y la adrenalina.</p>
          <br>
          <p style="font-size: xx-large;"><b>NUESTRA VISIÓN</b></p>
          <p>Nuestra visión es convertirnos en líderes en el campo de turismo de aventura para giras de estudios,
            proporcionando a los estudiantes experiencias educativas y enriquecedoras que dejan una impresión duradera.
            Nos esforzamos por ofrecer tours innovadores y asequibles que sean accesibles para todos los estudiantes y
            que fomenten la adrenalina, compañerismo y la conexión con la naturaleza. Nuestro objetivo es ser
            reconocidos como una empresa ética, responsable que promueve el amor por la diversión, medio ambiente y la
            cultura local.</p>
        </ion-col>
        <ion-col size="5" sizeXs="12" sizeLg="4" style="text-align: center; padding: 50px;">
          <ion-img src="../../../../assets/content/about/fondo_web_1.png" alt="Misión y Visión"></ion-img>
        </ion-col>
        <ion-col size="1" sizeXs="0" sizeLg="2"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
